@import "tailwindcss";

/* 🌈 Root color variables */
:root {
  --hd-text-primary: #161616;
  --hd-text-secondary: #171717;
  --hd-bg-primary: #f9f9f9;
  --hd-bg-secondary: #ededed;
  --hd-bg-tertiary: #d6d6d6;
  --hd-text-muted: #727272;
  --hd-btn-primary: #ffd643;
  --hd-bg-tertiary-accent: #e3e3e3;
  --hd-text-tertiary-accent: #8a8282;
  --hd-muted-color:
}

/* 🌙 Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  :root {
    --hd-bg-primary: #0a0a0a;
    --hd-text-primary: #ededed;
  }
}

/* 🧠 Base styles */
body {
  color: var(--hd-bg-primary);
  background-color: var(--hd-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--hd-btn-primary);
  color: var(--hd-text-secondary);
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

input {
  background-color: var(--hd-bg-tertiary);
  color: var(--hd-text-primary);
  padding: 6px 10px;
  border-radius: 4px;
}

::placeholder {
  color: var(--hd-text-muted);
}

:focus {
  outline: none;
}

/* 🎨 Utility helper classes */
.hd-bg-primary {
  background-color: var(--hd-bg-primary);
}

.hd-bg-secondary {
  background-color: var(--hd-bg-secondary);
}

.hd-bg-tertiary {
  background-color: var(--hd-bg-tertiary);
}

.hd-bg-tertiary-accent {
  background-color: var(--hd-bg-tertiary-accent);
}

.hd-text--hd-text-muted {
  border-color: var(--hd-text-muted);
}

.hd-text-primary {
  color: var(--hd-text-primary);
}

.hd-text-secondary {
  color: var(--hd-text-secondary);
}

.hd-text-muted {
  color: var(--hd-text-muted);
}

.hd-btn-primary {
  background-color: var(--hd-btn-primary);
}

.quantifier {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.quantifier span {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid var(--hd-bg-tertiary-accent);
  cursor: pointer;
  transition: all 0.2s ease;
}


.confirm-btn {
  padding-block: 0.5rem;
}

.cart .top > div:not(:last-child) dt {
  color: var(--hd-text-muted);
}


.muted {
  color: var(--hd-text-muted);
  background-color: var(--hd-bg-tertiary-accent);
  cursor: not-allowed;
}

.selected{
  background-color: var(--hd-btn-primary);
}